body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: navy;
    color: white;
    padding: 15px;
}

section{
    background-color: white;
    margin: 20px;
    padding: 20px;
}

h2{
    color: navy;
}

img{
    
    border-radius:50px;
}

footer{
    background-color: navy;
    color: white;
    text-align: center;
    padding: 15px;
}